* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rosybrown;
  background-image: linear-gradient(rgba(5, 5, 5, 0.5)),
    url("./assets/img/5_background/complete_background.png");
  background-position: left bottom;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding-top: 42px;
}

h1 {
  color: rgb(251, 249, 249);
  font-size: 52px;
  text-shadow: 2px 2px 4px #000000;
}

canvas {
  display: flex;
  background-color: rgb(8, 8, 8);
  border: 2px solid transparent;
  border-image: conic-gradient(
      from 0deg,
      rgb(80, 217, 248),
      rgb(252, 51, 1),
      rgb(244, 175, 54),
      rgb(80, 217, 248)
    )
    1;
}
