@font-face {
  font-family: "zabars";
  src: url("assets/fonts/zabars.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  font-family: "zabars", Arial, Helvetica, sans-serif;
  background-color: rosybrown;
  background-image: linear-gradient(rgba(5, 5, 5, 0.5)),
    url("./assets/img/5_background/complete_background.png");
  background-position: left bottom;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  letter-spacing: 4px;
}

h1 {
  color: rgb(251, 249, 249);
  font-size: 52px;
  text-shadow: 2px 2px 4px #000000;
  padding-top: 42px;
}

h3 {
  font-size: 32px;
  color: rgb(251, 249, 249);
  text-shadow: 2px 2px 4px #000000;
}

#gameSection {
  height: 480px;
  max-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  position: relative;
}

#gameContainer {
  border: 2px solid transparent;
  border-image: conic-gradient(
      from 0deg,
      rgb(80, 217, 248),
      rgb(252, 51, 1),
      rgb(244, 175, 54),
      rgb(80, 217, 248)
    )
    1;
  width: 100%;
  max-width: 720px;
  height: 100%;
  aspect-ratio: 3 / 2;
  position: relative;
  overflow: visible;
}

.panelWrapperLeftRight,
.panelWrapperJumpThrow {
  display: none;
}

canvas {
  display: none;
  background-color: rgb(8, 8, 8);
  width: 100%;
  height: 100%;
  position: absolute;
}

#startContainer {
  display: block;
  background-image: url("assets/img/9_intro_outro_screens/start/startscreen_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  width: 100%;
}

#startContant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;
  width: 100%;
}

#controllsContainer {
  display: none;
  background-image: url("assets/img/5_background/first_half_background.png");
  background-color: rgb(134, 207, 235);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  width: 100%;
}

#controllsContant {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding-top: 32px;
}

table {
  color: rgb(251, 249, 249);
  text-shadow: 2px 2px 4px #000000;
  font-size: 20px;
  width: 350px;
}

tr {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

td {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 16px;
  width: 100%;
}

#winContainer {
  display: none;
  background-image: url("./assets/img/You won, you lost/You won A.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#winContant {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  height: 100%;
  width: 100%;
}

#loseContainer {
  display: none;
  background-image: url("assets/img/9_intro_outro_screens/game_over/you lost.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#loseContant {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  height: 100%;
  width: 100%;
}

.backgroundImage {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-position: top;
}

#soundsContainer {
  position: absolute;
  bottom: 10;
  left: 20;
}

#fullscreenContainer {
  position: absolute;
  bottom: 10;
  right: 20;
}

#rotatePhoneContainer {
  display: none;
  color: rgb(251, 249, 249);
  text-shadow: 2px 2px 4px #000000;
  margin-top: 32px;
}

#rotatePhoneContant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

#phoneImage {
  width: 90px;
  height: 180px;
  object-fit: cover;
}

#arrowImage {
  width: 90px;
  height: 100px;
  object-fit: fill;
}

img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  transition: all 125ms ease-in-out;
}

img:hover {
  cursor: pointer;
  scale: calc(1.4);
  filter: drop-shadow(5px 5px 10px rgb(252, 252, 251));
}

.navBtn {
  font-size: 20px;
  padding: 16px 16px;
  color: aliceblue;
  text-shadow: 2px 2px 4px #000000;
  background-color: rgb(245, 182, 93, 0.8);
  border-radius: 25px;
  border: none;
  transition: all 125ms ease-in;
  width: 10rem;
  margin-bottom: 16px;
}

.navBtn:hover {
  cursor: pointer;
  background-color: rgb(247, 70, 70);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.controllBtn {
  background-color: white;
  padding: 2px 4px;
  text-align: center;
  color: #000000;
  width: 6rem;
  border-radius: 15px;
}

.displayNone {
  display: none;
}

@media only screen and (max-width: 768px) {
  #gameSection {
    width: 100%;
    margin-bottom: 0;
  }
}

@media only screen and (max-height: 480px) {
  #gameSection {
    height: 100vh;
  }
}

@media (hover: none) and (orientation: portrait) {
  #rotatePhoneContainer {
    display: block;
  }

  #gameSection {
    display: none;
  }

  h1 {
    display: block;
  }
}

@media (hover: none) and (orientation: landscape) {
  #gameSection {
    display: flex;
    justify-content: center;
  }

  #gameContainer {
    max-width: calc(100vw - 350px);
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
    position: relative;
    overflow: visible;
  }

  #rotatePhoneContainer {
    display: none;
  }

  h1 {
    display: none;
  }

  .panelWrapperLeftRight,
  .panelWrapperJumpThrow {
    display: flex;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    z-index: 10;
    gap: 8px;
  }

  .panelWrapperLeftRight {
    right: 20px;
  }

  .panelWrapperJumpThrow {
    left: 20px;
  }

  .panelBtn {
    width: 60px;
    height: 60px;
    font-size: 16px;
    border-radius: 50%;
    background-color: rosybrown;
  }
}

@media (hover: none) and (orientation: landscape) and (max-width: 768px) {
  #gameSection {
    display: flex;
    justify-content: center;
  }

  #gameContainer {
    max-width: calc(100vw - 150px);
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
    position: relative;
    overflow: visible;
  }

  .panelWrapperLeftRight,
  .panelWrapperJumpThrow {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    z-index: 10;
    gap: 8px;
  }

  .panelWrapperLeftRight {
    right: 10px;
  }

  .panelWrapperJumpThrow {
    left: 10px;
  }
}

@media (hover: none) and (orientation: landscape) and (max-width: 768px) {
  #gameSection {
    display: flex;
    justify-content: center;
  }

  #gameContainer {
    max-width: calc(100vw - 150px);
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
    position: relative;
    overflow: visible;
  }

  .panelWrapperLeftRight,
  .panelWrapperJumpThrow {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    z-index: 10;
    gap: 8px;
  }

  .panelWrapperLeftRight {
    right: 10px;
  }

  .panelWrapperJumpThrow {
    left: 10px;
  }
}

@media (hover: none) and (orientation: landscape) and (max-width: 420px) {
  #gameSection {
    display: flex;
    justify-content: center;
  }

  #gameContainer {
    max-width: calc(100vw - 100px);
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
    position: relative;
    overflow: visible;
  }

  .panelWrapperLeftRight,
  .panelWrapperJumpThrow {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    z-index: 10;
    gap: 8px;
  }

  .panelWrapperLeftRight {
    right: 5px;
  }

  .panelWrapperJumpThrow {
    left: 5px;
  }

  .panelBtn {
    width: 40px;
    height: 40px;
    font-size: 16px;
    border-radius: 50%;
    background-color: rosybrown;
  }
}
