@font-face {
  font-family: "zabars";
  src: url("assets/fonts/zabars.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  font-family: "zabars", Arial, Helvetica, sans-serif;
  background-color: rosybrown;
  background-image: linear-gradient(rgba(5, 5, 5, 0.5)),
    url("./assets/img/5_background/complete_background.png");
  background-position: left bottom;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding-top: 42px;
  letter-spacing: 4px;
}

h1 {
  color: rgb(251, 249, 249);
  font-size: 52px;
  text-shadow: 2px 2px 4px #000000;
}

h3 {
  font-size: 32px;
  color: rgb(251, 249, 249);
  text-shadow: 2px 2px 4px #000000;
}

#gameSection {
  border: 2px solid transparent;
  border-image: conic-gradient(
      from 0deg,
      rgb(80, 217, 248),
      rgb(252, 51, 1),
      rgb(244, 175, 54),
      rgb(80, 217, 248)
    )
    1;
  height: 480px;
  width: 720px;
  position: relative;
  overflow: hidden;
}

canvas {
  display: none;
  background-color: rgb(8, 8, 8);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#startContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;
  width: 100%;
  background-image: url("assets/img/9_intro_outro_screens/start/startscreen_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#controllsContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding-top: 32px;
  background-image: url("assets/img/5_background/first_half_background.png");
  background-color: rgb(134, 207, 235);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

table {
  color: rgb(251, 249, 249);
  text-shadow: 2px 2px 4px #000000;
  font-size: 20px;
  width: 350px;
}

tr {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

td {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 16px;
  width: 100%;
}

#winContainer {
  display: none;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  height: 100%;
  width: 100%;
  background-image: url("./assets/img/You won, you lost/You won A.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#loseContainer {
  display: none;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  height: 100%;
  width: 100%;
  background-image: url("assets/img/9_intro_outro_screens/game_over/you lost.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}

.backgroundImage {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-position: top;
}

#soundsContainer {
  position: absolute;
  bottom: 10;
  left: 20;
}

#fullscreenContainer {
  position: absolute;
  bottom: 10;
  right: 20;
}

img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  transition: all 125ms ease-in-out;
}

img:hover {
  cursor: pointer;
  scale: calc(1.4);
  filter: drop-shadow(5px 5px 10px rgb(252, 252, 251));
}

.navBtn {
  font-size: 20px;
  padding: 16px 16px;
  color: aliceblue;
  text-shadow: 2px 2px 4px #000000;
  background-color: rgb(245, 182, 93, 0.8);
  border-radius: 25px;
  border: none;
  transition: all 125ms ease-in;
  width: 10rem;
  margin-bottom: 16px;
}

.navBtn:hover {
  cursor: pointer;
  background-color: rgb(247, 70, 70);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.controllBtn {
  background-color: white;
  padding: 2px 4px;
  text-align: center;
  color: #000000;
  width: 6rem;
  border-radius: 15px;
}

.displayNone {
  display: none;
}
